nav{
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.329);
}

body {
    background: url(./images/cidade.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}